<template name="mainLayout">
	<!--[if lt IE 9]>
    	<p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  	<![endif]-->

	
	<!-- Header -->
	{{> _header}}

	<div class="container-fluid main-container">
		<!-- Sidebar -->
		{{> _sidebar}}

		<!-- Main View -->
		{{> yield}}

		<!-- Footer -->
		{{> _footer}}
	</div>

</template>